/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
/* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
}

.btn {
    background-color: mediumslateblue;
    color: white;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    font-size: 12pt;
    padding: 4px 30px;
}

.col {
    text-align: center;
    margin: 5px;
    padding: 14px;
    background-color: teal;
    flex: 3;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}