* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

ul {
    display: flex;
    list-style-type: none;
    text-decoration-style: none;
    justify-content: space-between;
    align-items: center;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
}

button {
    background-color: teal;
    padding: 2px 6px;
    justify-content: center;
    border: 2px solid black;
    box-shadow: 2px 2px black;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col  {
    text-align: center;
    margin: 5px;
    padding: 14px;
    background-color: teal;
    flex: 1;
}

.col-2 {
    text-align: center;
    margin: 5px;
    padding: 14px;
    background-color: teal;
    flex: 2;
}

.col-3 {
    text-align: center;
    margin: 5px;
    padding: 14px;
    background-color: teal;
    flex: 3;
}
