.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* !--- Dice Roller Views CSS start ---! */
.dice-roller-app-view {
  display: flex;
}

.container-col-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 30vw;
}

.container-col-mid {
  height: 100vh;
  width: 30vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.results-container {
  margin: auto;
}

.container-col-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 30vw;
}
/* !--- Dice Roller Views CSS end ---! */